<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <main>
        <nav>
            <div class="brand">Logo></div>
            <ul class="nav-links">
                <a href="#">
                    <li>Home</li>
                </a>
                <a href="#">
                    <li>Latest</li>
                </a>
                <a href="#">
                    <li>Offers</li>
                </a>
                <a href="#">
                    <li>Services</li>
                </a>
                <a href="#">
                    <li>Contact</li>
                </a>
                <div class="login">
                    <button type="button">
                        Login
                    </button>
                    <button type="button">
                        Register
                    </button>
                </div>
            </ul>

            <div class="toggler">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
        <div class="content">
            <h1>Learn To Enjoy,<br>Every Moment of Your Life</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo obcaecati, recusandae laborum sed
                quaerat,
                pariatur modi maiores culpa, cum velit iste.</p>
        </div>
        <div class="footer">
            <a href="#">Play Video
                <i class="fa-solid fa-play"></i></a>
        </div>
    </main>
    <div class="nav-links2"></div>
    <script src="app.js"></script>
    <script src="https://kit.fontawesome.com/69c6cbe119.js" crossorigin="anonymous"></script>
</body>

</html>